*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 0 auto;
  width: 800px;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

.film {
  width: 92%;
  margin: 20px auto;
  position: relative;
  border: 1px solid grey;
  clear: both;
  overflow: hidden;

}

.film-poster{
  width: 30%;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  margin: 15px;
}

img{
  position: relative;
}

.action-watch-later{
  position: absolute;
  top: 6%;
  left: 27%;
  color: red;
}

.film-title{
  margin-left: 10px;
}

.film-details{
  padding-right: 10px;
}

.action-like{
  position: absolute;
  color: red;
  right: 1%;
  bottom: 1%;
}
